*{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/header-image.png);
    background-position: center;
}

/* Nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}
.nav-btn button{
       font-size: 15px;
       text-decoration: none;
       color: white;
       background-color: red;
       border: none;
       border-radius: 3px;
       padding: 8px 13px;
       
}
nav img{
    width: 15%;
}


/* Header Content */

.header-content{
    text-align: center;
    color: white;
    padding-top: 35vh;
}

.header-content h2{
    font-size: 40px;
    padding: 10px;
}

.header-content p{
    font-size: 20px;
    padding: 8px;
    color: rgba(255, 255, 255, 0.753);
}

.header-content input{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 50%;
    font-size: 13px;
}

.header-content button{
    padding: 10px 15px;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.87);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
}


/* linebreak */

hr{
    height: 6px;
    background-color: rgb(63, 63, 63);
    border: none;
}

/* Feature-1 */

.first-column{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 40px;
}


.column-text{
    color: white;
    word-spacing: 1.5px;
    margin-top: 170px;
    margin-left:40px;
    font-size: x-large;
}



/* FAQ */

.faq{
    color: white;
    background-color: black;
    text-align: center;
    /* padding: 50px; */
}

.faq h2{
    padding: 40px;
}


.drop-faq{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.drop-faq li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.drop-faq li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
     content: '+';
     font-size: 34px;
     position: absolute;
     right: 20px;
     transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.drop-faq .faq-content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s ;
}

.drop-faq input[type="radio"]:checked + label + .faq-content{
    max-height: 600px;
    padding: 30px 20px;
}

.drop-faq input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq-ftr-email input{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 50%;
    font-size: 13px;
}

.faq-ftr-email button{
    padding: 10px 15px;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.87);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
}



/* Foooter */

.Footer{
    padding: 50px 15% 10px;
    display: flex;
    text-align: left;
}

.Footer .col{
    flex-basis: 33%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.Footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.end{
    text-align: left;
    margin-left: 15%;
    padding-bottom: 30px;
}

.end a{
    text-decoration: none;
    color: #777;
    font-size: 14px;
}

/* End */



/* Responsive */

@media screen and (max-width:1100px){
    .first-column img{
        width: 500px;
     }
}

@media screen and (max-width:800px){

    .header-content{
        padding-top: 25vh;
    }
    
    .header-content h2{
        font-size: 25px;
        padding: 10px;
    }
    
    .header-content p{
        font-size: 15px;
        padding: 8px;
        color: rgba(255, 255, 255, 0.753);
    }

    nav img{
        width: 20%;
    }
    
    .first-column img{
       width: 200px;
    }
    
    
    .column-text{
        color: white;
        word-spacing: 1.5px;
        margin-top: 40px;
        font-size: small;
        align-items: flex-start;
    }

    .drop-faq li label{
        padding: 10px;
        font-size: 15px;
        margin-right: 25px;
    }

    .drop-faq .faq-content{
        margin-right: 25px;
        font-size: 14px;
        overflow: hidden;
    }

    .faq-ftr{
        margin: 12px;

}
}

@media screen and (max-width:450px){
    .header-content{
        padding-top: 25vh;
    }
    
    .header-content h2{
        font-size: 20px;
        padding: 10px;
    }
    
    .header-content p{
        font-size: 12px;
        padding: 8px;
        color: rgba(255, 255, 255, 0.753);
    }

    nav img{
        width: 20%;
    }
    
    .first-column img{
       width: 150px;
    }
    
    
    .column-text{
        color: white;
        word-spacing: 1.5px;
        margin-top: 20px;
        font-size: small;
        align-items: flex-start;
        margin-left:10px;
    }
    .column-text h2{
        font-size: 15PX;
    }
    .column-text p{
        font-size: 13px;
    }

}

@media screen and (max-width:350px){

    .first-column img{
        width: 80px;
    }
     .column-text{
         color: white;
         word-spacing: 1.5px;
         margin-top: 15px;
         font-size: small;
         align-items: flex-start;
         margin-left:8px;
     }
     .column-text h2{
         font-size: 13PX;
     }
     .column-text p{
         font-size: 10px;
     }
     .faq-ftr{
        font-size: 12px;
        margin: 7px;
     }
}

    